<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>手机资讯_手机评测_手机新闻 - GoPhone</title>
    <meta name="keywords" content="手机资讯，手机评测，买什么手机好，手机什么牌子好">
    <meta name="description" content="提供最新的手机资讯中心,专业及时的手机报价,手机评测,手机行情，原创手机评测信息">

    <link href="__CSS__/basic.css" rel="stylesheet">
    <link href="__CSS__/information_index.css" rel="stylesheet">
    <link href="__CSS__/kkpager_blue.css" rel="stylesheet">
    <link rel="stylesheet" href="__BOT__/css/bootstrap.css">

    <script charset="utf-8" src="__JS__/v.js"></script>
    <script src="__JS__/hm.js"></script>
    <script src="__JS__/hm(1).js"></script>
    <script src="__JS__/jquery-1.7.2.js" type="text/javascript"></script>
    <script src="__JS__/tongji_baidu.js" type="text/javascript"></script>
    <script src="__JS__/kkpager.min.js"></script>

    <script type="text/javascript">
        function formatTime(val) {
            var re = /-?\d+/;
            var m = re.exec(val);
            var d = new Date(parseInt(m[0]));

            return d.format("yyyy年MM月dd日");
        }
        Date.prototype.format = function (format) //author: meizz
        {
            var o = {
                "M+": this.getMonth() + 1, //month
                "d+": this.getDate(),    //day
                "h+": this.getHours(),   //hour
                "m+": this.getMinutes(), //minute
                "s+": this.getSeconds(), //second
                "q+": Math.floor((this.getMonth() + 3) / 3),  //quarter
                "S": this.getMilliseconds() //millisecond
            }
            if (/(y+)/.test(format)) format = format.replace(RegExp.$1,
            (this.getFullYear() + "").substr(4 - RegExp.$1.length));
            for (var k in o) if (new RegExp("(" + k + ")").test(format))
                format = format.replace(RegExp.$1,
              RegExp.$1.length == 1 ? o[k] :
                ("00" + o[k]).substr(("" + o[k]).length));
            return format;
        }
        var pageIndex = 0;     //页面索引初始值
        var pageindexpc = 0;
        var pageSize = 10;
        $(function () {
            var total = '187';
            if (total <= 0) {
                $('#pc').append("<span style='font-size:14px;margin:4px 6px' >暂无数据，去逛逛<a href='http://www.dixintong.com/'><u style='color:red' >别的地方吧！》》</u></a></span>");
            }
            else {
                var totalPage = '19';
                var totalRecords = '187';
                var pageNo = '1';
                if (!pageNo) {
                    pageNo = 1;
                }
                //生成分页
                //有些参数是可选的，比如lang，若不传有默认值
                kkpager.generPageHtml({
                    pno: pageNo,
                    //总页码
                    total: totalPage,
                    //总数据条数
                    totalRecords: totalRecords,
                    //链接前部
                    hrefFormer: 'zxnews',
                    //链接尾部
                    hrefLatter: '.html',
                    getLink: function (n) {
                        //alert(keyName);
                        var ii = '1';
                        if (ii == null) {
                            ii = 0;
                        }
                        return this.hrefFormer + "-" + n + "-" + ii + this.hrefLatter;

                    }
                });
            }
        });
    </script>
</head>

<body>
    
<link rel="stylesheet" href="__CSS__/basic(1).css">
<link rel="stylesheet" href="__CSS__/messagestyle.css">

<div class="header">
    <div class="topbar">
        <div class="clear w1200">
            <p class="welcome">欢迎来到GoPhone</p>
            <div class="clear menu">
                {if !empty($Think.session.username)}
                <a href="../person/dingdan" class="item">我的订单</a>
                <span class="divi">|</span>
                {/if}
                <a href="../index/lianxi">联系我们</a>
            </div>
            {if !empty($Think.session.username)}
            <div class="clear login-status">
                <a href="../person/personinfo" class="link">欢迎, {$Think.session.username}</a>
                <span class="divi"> | </span>
                <a href="../index/tuichu" class="link" id="">退出</a>
            </div>
            {else}
            <div class="clear login-status">
                <a href="../user/login" class="link">登陆</a>
                <span class="divi"> | </span>
                <a href="../user/Register" class="link" id="exitLogin">注册</a>
            </div>
            {/if}
        </div>
    </div>
    <div class="clear w1200 headbar">
        <a href="" class="logo">
            <img alt="" src="__IMG__/logo1.jpg">
        </a>
        <a href="" class="slogan">
            <img alt="" src="__IMG__/slogan1.png">
        </a>
        <div class="search-container">
            <div class="clear search-bar" id="searchBar">
                <form action="../sou/sou" method="post">
                    <input type="text" class="input" name="so" id="searchInput" placeholder="请输入搜索内容">
                    <input type="submit" class="btn" id="searchBtn" value="搜索">
                </form>
            </div>
        </div>
        <div class="endorse">
            <a href="javascript:;" class="J_online-service">
                <img src="__IMG__/kefupic.gif" style="width: 109px;margin-top: -5px;">
            </a>
        </div>
    </div>
    <div class="clear w1200 nav-container">
        <div class="nav" id="main-nav">
            <h2 class="title">全部商品分类</h2>
            <ul class="list" id="main-list">
                {if !empty($big)}
                {foreach $big as $v}
                <li class="nav-first J_nav-first">
                    <h2 class="title phone">{$v.name}</h2>
                    <div class="clear list">
                        {if (!empty($small))}
                        {foreach $small as $v1}
                        {if $v1.pid == $v.id}
                        <a target="_blank" href="" class="item">{$v1.name}</a>
                        {/if}
                        {/foreach}
                        {/if}
                    </div>
                </li>
                {/foreach}
                {/if}
            </ul>
        </div>
        <a href="../" class="item index on">首页</a>
        <a target="_blank" href="../phoneshop/phoneshop" class="item">手机商城</a>
        <a target="_blank" href="../heikeji/heikeji" class="item">黑科技</a>
        <a target="_blank" href="../message/message" class="item">资讯评测</a>
    </div>
</div>
<script type="text/javascript" src="__JS__/jquery-1.7.2.js"></script>
<script type="text/javascript" src="__JS__/jquery.cookies.2.2.0.min.js"></script>
<script type="text/javascript" src="__JS__/header.js"></script>

    <div class="content">

        <!-- 全部资讯 -->
        <div class="content-box clear">
            <div class="information-box fl">
                <div class="information-tit">
                    <ul class="clear">
                        <li class="fl on">
                            <a href="javascript:;" class="fl">热点评测
	    						<span></span>
                            </a>
                        </li>
                    </ul>
                </div>
                <script type="text/javascript">

                    $(function () {
                        var index = '1';
                        $('.information-tit ul li').eq(index).addClass("on").siblings("li").removeClass("on");

                    })

                    $(".information-tit ul li").on("click", function () {

                        var jumpUrl = "zxnews-1-" + $(this).index() + ".html";
                        location.href = jumpUrl;
                    });

                </script>
                <div class="information-text-box">
                    <div class="ul1" style="display: block;">
                        <ul id="zx">
                            {if !empty($zixun)}
                            {foreach $zixun as $v}
                            <li class="clear">
                                <div class="information-text-img fl">
                                    <a target="_blank" href="" class="fl">
                                        <img src="__IMG__/{$v.photo}" alt="" title="" style="width: 320px; height: 160px;">
                                    </a>
                                </div>
                                <div class="information-cont fl">
                                    <h4 class="clear">
                                        <a target="_blank" href="./zixun?id={$v.id}" class="fl" style="margin-left:20px;">{$v.title}</a></h4>
                                    <div class="time clear">
                                        <em class="fl" style="margin-left:20px;">热点资讯</em><span class="fl"><i style="margin-left:20px;">{$v.create_time | date='Y-m-d h:i:s',###}</i></span>
                                    </div>
                                    <p style="height:50px;overflow: hidden;text-overflow:ellipsis;white-space: nowrap;margin-left:20px;">{$v.content}</p>
                                </div>
                            </li>
                            {/foreach}
                            {/if}
                        </ul>
                    </div>
                </div>
                <div style="width:410px;margin:0 auto;" class="page">{$page}</div>
            </div>

            <!-- 推荐 -->
            <div class="recommend-right fr">
                <div class="">
                    <font>前沿热点</font>
                    <hr/>
                    <ul >
                        {if !empty($news)}
                        {foreach $news as $v}
                        <li style="font-family:黑体;font-size:15px;"><a href="{$v.weburl}"><font style="color:#2170ff;">Hot{$v.title}</font></a></li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
                <div class="evaluating ">
                    <h4>热门评测</h4>
                    <div class="img clear">
                        <img src="__IMG__/161228142731123900.jpeg" alt="" class="fl" style="width: 261px; height: 135px;">
                    </div>
                    <ul id="rmpc">
                        {if !empty($zixun)}
                        {foreach $zixun as $v}
                        <li>
                            <p><a target="_blank" href="../message/zixun?id={$v.id}" class="fl">{$v.title}</a></p>
                        </li>
                        {/foreach}
                        {/if}
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div style="clear: both"></div>

    

<link href="__CSS__/basic(2).css" rel="stylesheet">
<link href="__CSS__/not-found404.css" rel="stylesheet">

<style type="text/css">

	.footer-warp  div a,.footer-warp div a img { cursor:pointer; }
</style>




<footer>
    <div class="footer">
		<div class="footer-warp">
			<div class="footer-top clear">
                <a href="http://www.dixintong.com/issue-1-3-10.html" style="cursor:default" target="_blank" class="fl">
                    <img src="__IMG__/fuwu01.jpg" width="256" height="97" class="fl">
                </a>
                <a href="http://www.dixintong.com/issue-3-1-16.html" style="cursor:default" target="_blank" class="fl">
                    <img src="__IMG__/fuwu02.jpg" width="214" height="97" class="fl">
                </a>
                <a href="http://www.dixintong.com/issue-4-1-19.html" style="cursor:default" target="_blank" class="fl">
                    <img src="__IMG__/fuwu03.jpg" width="205" height="97" class="fl">
                </a>
                <a href="http://www.dixintong.com/html/xin/index.html" target="_blank" class="fl">
                    <img src="__IMG__/fuwu04.jpg" width="254" height="97" class="fl">
                </a>
                <a href="http://www.dixintong.com/mdall.html" style="cursor:default" target="_blank" class="fl">
                    <img src="__IMG__/fuwu05.jpg" width="237" height="97" class="fl">
                </a>
            </div>
		</div>
	</div>
  <div>
      <center>
          <a href="">本站仅为学习开发使用   备案号：京dsadd001</a>
      </center>
  </div>
</footer>

    <script>
        $('#zixun').addClass('on').siblings().removeClass('on');
    </script>






</body></html>