<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<title>后台管理系统</title>
<meta name="author" content="DeathGhost" />
<link rel="stylesheet" type="text/css" href="__BOOT__/css/bootstrap.css">
<link rel="stylesheet" type="text/css" href="__CSS__/style.css">
<link rel="stylesheet" type="text/css" href="/static/file/css/fileinput.min.css">
<!--[if lt IE 9]>
<script src="__JS__/html5.js"></script>
<![endif]-->
<script src="__JS__/jquery.js"></script>
<script src="__JS__/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/static/file/js/fileinput.min.js"></script>
<script src="/static/file/js/fileinput_locale_zh.js"></script>

<script>

	(function($){
		$(window).load(function(){
			
			$("a[rel='load-content']").click(function(e){
				e.preventDefault();
				var url=$(this).attr("href");
				$.get(url,function(data){
					$(".content .mCSB_container").append(data); //load new content inside .mCSB_container
					//scroll-to appended content 
					$(".content").mCustomScrollbar("scrollTo","h2:last");
				});
			});
			
			$(".content").delegate("a[href='top']","click",function(e){
				e.preventDefault();
				$(".content").mCustomScrollbar("scrollTo",$(this).attr("href"));
			});
			
		});
	})(jQuery);
</script>
</head>
<body>
{include file="../application/admin/view/header/headerinfo.html" /}
<!--aside nav-->
<!--aside nav-->
{include file="../application/admin/view/aside/asides.html" /}
<section class="rt_wrap content mCustomScrollbar">
<form action="{:url('lbadd')}" method="post" enctype="multipart/form-data">
 <div class="rt_content">
      <div class="page_title">
       <h2 class="fl">轮播图信息</h2>
       <a  href ="lbpicturelist" class="fr top_rt_btn">返回轮播图列表</a>
      </div>
     <section>
      <ul class="ulColumn2">
       <li>
        <span class="item_name" style="width:120px;">
    商品名称：
    </span>
       <select class="select" name="gid">
        <option value ="0">商品名称</option>
        {if $result}
        {foreach $result as $vo }
        <option value ="{$vo.gid}">{$vo.name}</option>
        {/foreach}
        {/if}
       </select>
    </li>
       <li>
        <span class="item_name" style="width:120px;">
      轮播图标题：
    </span>
        <input type="text" name="con" class="textbox textbox_295" value =""/>
       </li>
    <br/>
		<li>	   
        <span class="item_name" style="width:120px;">上传图片：</span>
        <br/><br/>
  		<div class="form-group" style="width:500px;margin-left: 100px">
         <input id="file-1" type="file" multiple class="file" data-overwrite-initial="false" data-min-file-count="1" name ="image">
       </div>
		</li>
		<li>
        <span class="item_name" style="width:120px;"></span>
        <input type="submit" class="link_btn"/>

		</li>
      </ul>
     </section>
 </div>
 </form>
</section>
<script src="__JS__/ueditor.config.js"></script>
<script src="__JS__/ueditor.all.min.js"> </script>
<script>
initFileInput("file-1","{:url('lbadd')}");
  //初始化fileinput控件（第一次初始化）
function initFileInput(ctrlName, uploadUrl) { 
 var control = $('#' + ctrlName); 
 control.fileinput({
 language: 'zh', //设置语言
 uploadUrl: uploadUrl, //上传的地址
 allowedFileExtensions : ['jpg', 'png','gif'],//接收的文件后缀
 showUpload: true, //是否显示上传按钮
 showCaption: true,//是否显示标题
 browseClass: "btn btn-primary", //按钮样式 
 maxFileCount:4,
 previewFileIcon: "<i class='glyphicon glyphicon-king'></i>", 
 });
}
$('#file-1').on('filebatchuploadsuccess', function(event, data, previewId, index) {  
    var response = data.response;  
    console.log(data.response);
    $.each(response,function(id,path){//上传完毕，将文件名返回  
       /* $("#form").append("<input class='imgClass' name='filePath' type='hidden' value='"+path.pathUrl+"'>"); */ 
    });
/*$("#file-1").on("fileuploaded",function (event,data,previewid,index))
{
  console.log(1);
}*/
   /* $("#file-1").fileinput({
        uploadUrl: "lbpicturealter", // you must set a valid URL here else you will get an error
        allowedFileExtensions : ['jpg', 'png','gif'],
        overwriteInitial: false,
        maxFileSize: 1000,
        maxFilesNum: 10,
        maxFileCount:4,
        //allowedFileTypes: ['image', 'video', 'flash'],
        slugCallback: function(filename) {
            return filename.replace('(', '_').replace(']', '_');
        }
   });
      $(document).ready(function() {
          $("#test-upload").fileinput({
              'showPreview' : false,
              'allowedFileExtensions' : ['jpg', 'png','gif'],
              'elErrorContainer': '#errorBlock'
          });
    });*/
  </script>
</body>
</html>
